.recover_page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recover_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recover_form p {
    font-family: "Special Gothic", sans-serif;
    text-align: center;
    width: 350px;
    color: rgba(33, 37, 41, 1);
    font-weight: 400;
    font-size: 16px;
}

.recover_form button {
    margin-top: 20px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    background: rgba(13, 110, 253, 1);
    font-family: "Special Gothic", sans-serif;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recover_form button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pass_input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
}

.input-error {
    border: 2px solid rgba(220, 53, 69, 1);
    transition: 0.2s;
}

/* Loader styles */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    --color: hsl(0, 0%, 87%);
    --animation: 2s ease-in-out infinite;
}

.loader .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    border: solid 2px var(--color);
    border-radius: 50%;
    margin: 0 4px;
    background-color: transparent;
    animation: circle-keys var(--animation);
}

.loader .circle .dot {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color);
    animation: dot-keys var(--animation);
}

.loader .circle .outline {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: outline-keys var(--animation);
}

/* Anim delays for each dot */
.circle:nth-child(1) {
    animation-delay: 0s;
}
.circle:nth-child(2) {
    animation-delay: 0.3s;
}
.circle:nth-child(3) {
    animation-delay: 0.6s;
}
.circle:nth-child(4) {
    animation-delay: 0.9s;
}
.circle:nth-child(5) {
    animation-delay: 1.2s;
}

.circle:nth-child(1) .dot {
    animation-delay: 0s;
}
.circle:nth-child(2) .dot {
    animation-delay: 0.3s;
}
.circle:nth-child(3) .dot {
    animation-delay: 0.6s;
}
.circle:nth-child(4) .dot {
    animation-delay: 0.9s;
}
.circle:nth-child(5) .dot {
    animation-delay: 1.2s;
}

.circle:nth-child(1) .outline {
    animation-delay: 0s;
}
.circle:nth-child(2) .outline {
    animation-delay: 0.3s;
}
.circle:nth-child(3) .outline {
    animation-delay: 0.6s;
}
.circle:nth-child(4) .outline {
    animation-delay: 0.9s;
}
.circle:nth-child(5) .outline {
    animation-delay: 1.2s;
}

@keyframes circle-keys {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes dot-keys {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes outline-keys {
    0% {
        transform: scale(0);
        outline: solid 20px var(--color);
        outline-offset: 0;
        opacity: 1;
    }
    100% {
        transform: scale(1);
        outline: solid 0 transparent;
        outline-offset: 20px;
        opacity: 0;
    }
}
