.reset-password-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.my_block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image{
    width: 50px;
}
.form_title{
    font-family: "Special Gothic", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: rgba(108, 117, 125, 1);
}
.input_block{
    display: flex;
    flex-direction: column;
    gap: 8px
}
.pass_input{
    border-radius: 10px;
    width: 360px;
    height: 38px;
    border: 2px solid rgba(222, 226, 230, 1);
    transition: 0.2s;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
}

.pass_input::placeholder {
    color: rgba(108, 117, 125, 0.6);
    font-family: "Special Gothic", sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s;
}

.pass_input:focus{
    border: 2px solid rgba(13, 110, 253, 1);
}
.go_back_btn{
    margin-top: 20px;
    background: none;
    outline: none;
    border: none;
    color: rgba(33, 37, 41, 0.6);
    font-family: "Special Gothic", sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

}

.pass_input.error {
    border: 2px solid rgba(220, 53, 69, 1);
    transition: 0.2s;
}
